<footer class="contenedor-footer">
    <section class="contenedor-links-footer">
        <h4 class="titulos-footer"><a href="#">Tienda Online</a></h4>
        <ul>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Registrate</a></li>
            <li><a href="#">¿Olvidaste tu Contraseña?</a></li>
            <li><a href="#">Defensa al Consumidor</a></li>
        </ul>
    </section>
    <section class="contenedor-links-footer">
        <h4 class="titulos-footer"><a href="#">Castor | Nosotros</a></h4>
        <ul>
            <li><a href="#">Nuestros Locales</a></li>
            <li><a href="#">Venta a Empresas</a></li>
            <li><a href="#">Trabajá con Nosotros</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Nuestra Historia</a></li>
        </ul>
    </section>
    <section class="contenedor-links-footer">
        <h4 class="titulos-footer"><a href="#">Servicios</a></h4>
        <ul>
            <li><a href="#">Cursos Gratuitos</a></li>
            <li><a href="#">Garantía de precios</a></li>
            <li><a href="#">Garantía de Devolución</a></li>
            <li><a href="#">Medios de Pago</a></li>
            <li><a href="#">Promociones</a></li>
        </ul>
    </section>
    <section class="contenedor-suscripcion-footer">
        <h4 class="titulos-footer">SUSCRIBITE A NUESTRA LISTA</h4>
        <p class="frase-footer">Unite a nuestra lista de correo y descubrí descuentos para tus Compras</p>
        <form action="#" method="post" class="form-suscripcion">
            <input type="email" name="suscripcion" id="suscripcion" placeholder="Ingresá tu correo..." required="">
            <button id="boton-suscripciones">Suscribirme</button>
        </form>
    </section>
</footer>