
<header class="main-header">
    <section class="header-contenedor">
        <div class="main-header-top-bar">
            <a href="#"><img src="/images/castorLogo.webp" alt="LogoCastor" width="70" class="logo"></a>
            <form class="adress-bar" method="get" action="/search">
                <input type="text" name="" id="" placeholder="Buscar productos, marcas..." class="buscador">
                <button class="boton-lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="icon-user">
                <a href="#"><i class="fa-regular fa-circle-user"></i></a>
            </div>
            <div class="icon-cart">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

            </div>
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="#">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </section>
</header>