<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<header>
    <div class="logo-castor">

    </div>
    <div class="contenedor-nav-search">
        <section class="cont-search-account">
            <form class="cont-search" action="">
                <input type="text" name="search" id="search" placeholder="Busque sus Materiales aqui!">
                <button class="btn">BUSCAR</button>
            </form>
            <div class="cont-account">
                <button class="btn btn-account">Mi Cuenta</button>
                <button class="btn btn-register">Registrar</button>
            </div>
        </section>
        <nav class="barnav">
            <ul class="nav-list">
                <li><a class="link-nav">Categorias</a></li>
                <li><a class="link-nav">Contactanos!</a></li>
                <li><a class="link-nav">Carrito de Compras</a></li> 
            </ul>
        </nav>
    </div>
</header>
<body class="contenedor-body centrar-margin">
    <div class="contenedor-carruselImg">
        <img src="" alt="fotoCarrusel1">
        <img src="" alt="fotoCarrusel2">
        <img src="" alt="fotoCarrusel3">
    </div>
    <section class="contenedor-prodDestacado">
        <h3>Productos Destacados</h3>
            <div class="contenedor-articulo-prodDestacado">
                <article class="contenido-prodDestacado">
                    <img src="" alt="articulo1">\
                    <h4>articulo 1</h4>
                    <p>$$$</p>
                </article>
                <article class="contenido-prodDestacado">
                    <img src="" alt="articulo2">\
                    <h4>articulo 2</h4>
                    <p>$$$</p>
                </article>
                <article class="contenido-prodDestacado">
                    <img src="" alt="articulo3">\
                    <h4>articulo 3</h4>
                    <p>$$$</p>
                </article>
                <article class="contenido-prodDestacado">
                    <img src="" alt="articulo4">\
                    <h4>articulo 4</h4>
                    <p>$$$</p>
                </article>
            </div>
    </section>
    <section class="contenedor-marcas">
        <article class="contenido-marcas"><span>Marca1</span></article>
        <article class="contenido-marcas"><span>Marca2</span></article>
        <article class="contenido-marcas"><span>Marca3</span></article>
        <article class="contenido-marcas"><span>Marca4</span></article>
    </section>
    <section class="contenedor-novedades">
        <div class="contenedor-p-novedades">
            <p>Categorias para elegir Amplia variedad!!</p>
            <p>¡Comprá desde casa en simples pasos!</p>
        </div>
        <div class="contenedor-btn-novedades">
            <button>VER PRODUCTOS>></button>
        </div>
    </section>

</body>

<footer class="contenedor-footer">
    <section class="contenedor-links-footer">
        <h4><a href="#">Tienda Online</a></h4>
        <ul>    
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Registrate</a></li>
            <li><a href="#">Olvidaste tu Contraseña?</a></li>
            <li><a href="#">Defensa al Consumidor</a></li>
        </ul>
    </section>
    <section class="contenedor-links-footer">
        <h4><a href="#">Castor|Nosotros</a></h4>
        <ul>
            <li><a href="#">Nuestros Locales</a></li>
            <li><a href="#">Venta a Empresas</a></li>
            <li><a href="#">Trabaja con Nosotros</a></li>
            <li><a href="#">Terminos y Condiciones</a></li>
            <li><a href="#">Nuestra Historia</a></li>
        </ul>
    </section>
    <section class="contenedor-links-footer">
        <h4><a href="#">Servicios</a></h4>
        <ul>
            <li><a href="#">Cursos Gratuitos</a></li>
            <li><a href="#">Garantia de precios</a></li>
            <li><a href="#">Garantia de Devolucion</a></li>
            <li><a href="#">Medios de Pago</a></li>
            <li><a href="#">Promociones</a></li>
        </ul>
    </section>
    <section class="contenedor-suscripcion-footer">
        <h4>SUSCRIBITE A NUESTRA LISTA</h4>
        <p>Unite a nuestra lista de correo y descubri descuentos para tus Compras</p>
        <form action="/" class="form-suscripcion">
            <input type="text" name="suscripcion" id="suscripcion" placeholder="Ingrese su correo...">
            <input type="submit" name="submit-suscripciones" id="submit-suscripciones" value="SUSCRIBIRME">
        </form>
        
    </section>
</footer>

</html>