<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<header class="main-header">
    <section class="header-contenedor">
        <div class="main-header-top-bar">
            <a href="#"><img src="/images/castorLogo.webp" alt="LogoCastor" width="70" class="logo"></a>
            <form class="adress-bar">
                <input type="text" name="" id="" placeholder="Buscar productos, marcas..." class="buscador">
                <button class="boton-lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="icon-user">
                <a href="#"><i class="fa-regular fa-circle-user"></i></a>
            </div>
            <div class="icon-cart">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

            </div>
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="#">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </section>
</header>

<body class="contenedor-body centrar-margin">
    <div class="contenedor-carruselImg" id="contentItemsCarrusel">
        <div class="tarjeta-foto" id="tarjetaFoto1">
            <div class="imagenCarrusel" id="imagenCarrusel1">
                
            </div>
            <div class="flechasCarrusel">
                <a href="#tarjetaFoto3"><i class="fa-solid fa-angle-left"></i></a>
                <a href="#tarjetaFoto2"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
        <div class="tarjeta-foto" id="tarjetaFoto2">
            <div class="imagenCarrusel" id="imagenCarrusel2">
                
            </div>
            <div class="flechasCarrusel">
                <a href="#tarjetaFoto1"><i class="fa-solid fa-angle-left"></i></a>
                <a href="#tarjetaFoto3"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
        <div class="tarjeta-foto" id="tarjetaFoto3">
            <div class="imagenCarrusel" id="imagenCarrusel3">\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\]
            </div>
            <div class="flechasCarrusel">
                <a href="#tarjetaFoto2"><i class="fa-solid fa-angle-left"></i></a>
                <a href="#tarjetaFoto1"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </div>
    <section class="contenedor-prodDestacado">
        <h3>Productos Destacados</h3>
        <div class="contenedor-articulo-prodDestacado">
            <article class="contenido-prodDestacado" id="imagenProdDest1">
                <h4>articulo 1</h4>
                <p>$$$</p>
            </article>
            <article class="contenido-prodDestacado" id="imagenProdDest2">
                <h4>articulo 2</h4>
                <p>$$$</p>
            </article>
            <article class="contenido-prodDestacado" id="imagenProdDest3">
                <h4>articulo 3</h4>
                <p>$$$</p>
            </article>
            <article class="contenido-prodDestacado" id="imagenProdDest4">
                <h4>articulo 4</h4>
                <p>$$$</p>
            </article>
        </div>
    </section>
    <section class="contenedor-marcas">
        <article class="contenido-marcas"><span>Marca1</span></article>
        <article class="contenido-marcas"><span>Marca2</span></article>
        <article class="contenido-marcas"><span>Marca3</span></article>
        <article class="contenido-marcas"><span>Marca4</span></article>
    </section>
    <section class="contenedor-novedades">
        <div class="contenedor-p-novedades">
            <p>Categorias para elegir Amplia variedad!!</p>
            <p>¡Comprá desde casa en simples pasos!</p>
        </div>
        <div class="contenedor-btn-novedades">
            <button>VER PRODUCTOS>></button>
        </div>
    </section>
    <footer class="contenedor-footer">
        <section class="contenedor-links-footer">
            <h4 class="titulos-footer"><a href="#">Tienda Online</a></h4>
            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Registrate</a></li>
                <li><a href="#">¿Olvidaste tu Contraseña?</a></li>
                <li><a href="#">Defensa al Consumidor</a></li>
            </ul>
        </section>
        <section class="contenedor-links-footer">
            <h4 class="titulos-footer"><a href="#">Castor | Nosotros</a></h4>
            <ul>
                <li><a href="#">Nuestros Locales</a></li>
                <li><a href="#">Venta a Empresas</a></li>
                <li><a href="#">Trabajá con Nosotros</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Nuestra Historia</a></li>
            </ul>
        </section>
        <section class="contenedor-links-footer">
            <h4 class="titulos-footer"><a href="#">Servicios</a></h4>
            <ul>
                <li><a href="#">Cursos Gratuitos</a></li>
                <li><a href="#">Garantía de precios</a></li>
                <li><a href="#">Garantía de Devolución</a></li>
                <li><a href="#">Medios de Pago</a></li>
                <li><a href="#">Promociones</a></li>
            </ul>
        </section>
        <section class="contenedor-suscripcion-footer">
            <h4 class="titulos-footer">SUSCRIBITE A NUESTRA LISTA</h4>
            <p class="frase-footer">Unite a nuestra lista de correo y descubrí descuentos para tus Compras</p>
            <form action="#" method="post" class="form-suscripcion">
                <input type="email" name="suscripcion" id="suscripcion" placeholder="Ingresá tu correo..." required="">
                <button id="boton-suscripciones">Suscribirme</button>
            </form>
        </section>
    </footer>
</body>

</html>