:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #fffcf2;
    --fuente-principal:'Poppins', cursive;
    --curva-de-bordeado: 1.5rem;
    --separador-elementos: 1rem;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

html {
    font-family: var(--fuente-principal);
}

body {
    margin: 0 auto;
}

header {
    background-color: var(--paleta-d);
    width: 100%;
    display: flex;
}

header section {
    margin: .5rem;
}

header .logo-castor {
    content: "LOGO";
    font-weight: 500;
    width: 20%;
}

header .contenedor-nav-search {
    display: flex;
    flex-direction: column;
    width: 80%;
}

section {
    margin: 0 0 2rem 0;
}

section .cont-search-account {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.contenedor-nav-search section button,
#search {
    padding: 5px;
    cursor: pointer;
}

section .cont-account button {
    background-color: var(--paleta-a);
    border: var(--paleta-c);
    border-radius: var(--curva-de-bordeado);
    transition: all 1s;
}

.contenedor-nav-search section button:hover {
    background-color: var(--paleta-d);
    color: var(--paleta-a);

}

section .cont-search {
    width: 70%;
    background-color: transparent;
}

section .cont-account {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.cont-search #search {
    width: 80%;
    background-color: transparent;
    border: 1.5px inset var(--paleta-e);
    border-radius: var(--curva-de-bordeado) var(--curva-de-bordeado);
}

.cont-search .btn {
    border-radius: 0 var(--curva-de-bordeado) var(--curva-de-bordeado) 0;
    border: var(--paleta-c);
    background-color: var(--paleta-a);
    transition: all .5s;
    margin-left: -50px;
    height: 24px;
    width: 50px;
    border: 0;
    -webkit-appearance: none;
}


header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

nav ul li {
    cursor: pointer;
}

header section {
    display: flex;
    align-items: center;
}

body .contenedor-carruselImg {
    width: 95vw;
    margin: var(--separador-elementos) auto;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    background: #ccc5b9;
    box-shadow: inset 10px 10px 0px #7e7a73,
        inset -10px -10px 0px #ffffff;
}

/*CARRUSELL INICIO*/
.contenedor-carruselImg .tarjeta-foto {
    height: 100%;
    position: relative;

}

.tarjeta-foto .imagenCarrusel {
    width: 100%;
    height: 100%;
}

.imagenCarrusel img {
    width: 100%;
    height: 100%;
}

#imagenCarrusel1{
    background-image: url(/images/fotoCarrusel1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#imagenCarrusel2{
    background-image: url(/images/fotoCarrusel2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#imagenCarrusel3{
    background-image: url(/images/fotoCarrusel4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flechasCarrusel {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flechasCarrusel a {
    background-color: #403d3952;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/*CARRUSEL FIN*/

body .contenedor-prodDestacado {
    margin: var(--separador-elementos) auto;
    width: 98%;
    height: 95rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-prodDestacado h3 {
    padding: .5rem;
    text-align: center;
    margin: 15px auto;
}

body .contenedor-articulo-prodDestacado {
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-articulo-prodDestacado article {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background: #fffcf2;
    box-shadow: inset 5px 5px 2px #666561,
        inset -5px -5px 2px #ffffff;
}

.contenedor-prodDestacado img {
    width: 85%;
    height: 70%;

}

.contenedor-marcas {
    width: 95%;
    height: 30rem;
    margin: var(--separador-elementos) auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-marcas article {
    border: 1px solid var(--paleta-a);
    margin: 10px;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenProdDest1{
    background-image: url(/images/andamios.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#imagenProdDest2{
    background-image: url(/images/arenaEmbolsada.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#imagenProdDest3{
    background-image: url(/images/cemento.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#imagenProdDest4{
    background-image: url(/images/ladrillos.webp);
    background-repeat: no-repeat;
    background-size: cover;
}



body .contenedor-novedades {
    background-image: url(/images/fotoCarrusel3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98vw;
    height: 30rem;
    padding: 2rem;
    margin: 0 auto;
    border: 1px solid var(--paleta-a);
    display: flex;
    flex-direction: column;
}

.contenedor-novedades .contenedor-p-novedades {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contenedor-novedades .contenedor-btn-novedades {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: transparent;
}

.contenedor-novedades .contenedor-btn-novedades button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.contenedor-articulo-prodDestacado article {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

footer {
    margin-top: 5rem;
}

@media (min-width: 361px) {
    body .contenedor-articulo-prodDestacado {
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem .5rem;
        height: 40vh;
        flex-wrap: wrap
    }

    body .contenedor-prodDestacado {
        height: max-content;
        display: flex;

    }

    .contenedor-articulo-prodDestacado article {
        width: 40%;
        height: 40%;
    }

    .contenedor-marcas article {
        width: 7.5rem;
        height: 7.5rem;
    }

    .contenedor-marcas {
        height: 20rem;
    }
}

@media (min-width: 769px) {
    body .contenedor-articulo-prodDestacado {
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem .5rem;
        height: 40vh;
        flex-wrap: wrap
    }

    .contenedor-articulo-prodDestacado article {
        width: 23%;
        height: 50%;
    }

    .contenedor-marcas article {
        width: 12rem;
        height: 12rem;
    }

    .contenedor-marcas {
        height: 25rem;
    }
}