:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #fffcf2;
    --fuente-principal: 'Comfortaa', cursive;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/ 
}
header{
    height: 10vh;
    width: 100%;
    background-color: red;
}
.imagenContenedora{
    height: 70vh;
    width: 100vw;
    background-size: cover;
}
.tituloPrincipal{
    text-align: center;
}
.card{
    height: 60%;
    width: 50%;
    margin: auto;
    background-color: var(--paleta-d);
    border-radius: 20px;
    box-shadow: 0 0 20px 2px var(--paleta-d);
    background-size: auto;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
  .botoncito{
    background-color: grey;
    color: rgb(43, 226, 89);
    border-radius: 30px;
    padding: 1% 10%;
  }
  #email-login,#password-login{
    width: 70%;
  }
  .clienteNuevo{
    display: flex;
  }
  div.clienteNuevo p{
      margin: auto;
      margin-bottom: 20px;
      padding: 10px;
      background-color: var(--paleta-d);
    }
    .footerImg {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    }
    .formularioLogin{
        margin-top: 5vh;
        margin-left: 15px;
    }
.clienteRegistrado{
    text-align: center;
}
.footerCard{
    display: flex;
    margin-top: 7vh;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    flex-wrap: wrap;
    
}
.buttonRegistarClienteNuevo button{
    padding: 2vh 2vw;
    border-radius: 10px;
    color: var(--paleta-e);
    background-color: var(--paleta-a);

}
.footerImagenContenedora{
    background-color: var(--paleta-d);
    margin-top: 40px;
}




















/*
.header{
    height: 15vh;
    width: 100vw;
    background-color: aqua;

}
.contenedorFlexCentral{
    display: flex;
    background-color: red;
    width: 70vw;
    height:80vh;
    flex-direction: column;
}
.headerCard_title h2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main{
    display: flex;
    height: 100vh;
    width: 100vw;
background-size: cover;
justify-content: center;
align-items: center;
}
.headercard{

}
.headerCard-title-CrearUnaCuenta{
    align-self: flex-end;
}
.footer{
    width: 100vw;
    height: 15vh;
    background-color: blue;
}
.tituloPrincipal{
    text-align: center;
}


<div class="contenedorFlexCentral"><!--tarjeta abarcativa de form,titulo y "footer"-->



                <!--DE ACA PARA ABAJO ES EL TITULO DEL BODY-->
                <div class="headerCard">
                    <section class="headerCard_title">
                        <!---->
                        <h2>
                            <span id="headerCard-title-login">Inicio de sesión</span>
                            <br>
                            <a class="headerCard-title-CrearUnaCuenta" href="null">Crear una cuenta</a>
                        </h2>
                        <!---->
                    </section>
                </div>
                <!--HASTA ACA-->


                <!--DE ACA PARA ABAJOSOL LOS FORMULARIOS-->
                <div class="formCard">
                    <label for="AuthEmail">Dirección de correo electrónico</label>

                        <input type="email" autocomplete="email" class="form-control ng-untouched ng-pristine ng-invalid" id="AuthEmail" >
                        

                        </i><!----><!----></div>
                </div>
                <!--HASTA ACA-->
                <!--DE ACA PARA ABAJO ES EL FOOTER DEL BODY-->
                <div class="footerCard">

                </div>
                <!--HASTA ACA-->
            </div>