:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #fffcf2;
    --fuente-principal: 'Hind Madurai', sans-serif;
    --curva-de-bordeado: 1.5rem;
    --separador-elementos: 1rem;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

body .contenedor-productdetail{
    height: 75vh;
    width: 80%;
    margin: 0 auto;
    padding: 15rem 0;
}

.contenedor-productdetail .producto-foto{
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.foto-nombre .foto-producto{
    width: 60%;
    height: 70%;
    margin: 0 auto;
}

.contenedor-productdetail .producto-disponibilidad{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.producto-foto .foto-nombre{
    width: 60%;
    height: 80%;

}