:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #fffcf2;
    --fuente-principal: 'Comfortaa', cursive;    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem == 10px */
    background-color: var(--paleta-e);
}

body {
    font-family: var(--fuente-principal);
}

.main-header {
    background-color: var(--paleta-d);
    padding: 1rem;
}

.header-contenedor {
    margin: auto;
}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.logo {
    position: absolute;
    top: -.1rem;
    left: -.1rem;
}


.buscador {
    border: none;
    background-color: var(--paleta-e);
    width: 30vw;
    height: 3em;
    border-radius: .4rem 0 0 .4rem;
}


.boton-lupa {
    border: none;
    background-color: var(--paleta-e);
    color: var(--paleta-c);
    width: 3em;
    height: 3em;
    border-radius: 0 .4rem .4rem 0;
}

.icon-user i {
    color: var(--paleta-b);
    font-size: 3em;
}

.icon-cart i {
    color: var(--paleta-b);
    font-size: 3em;
}

.navbar {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: var(--paleta-b);
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.2rem;
}

.navbar li {
    list-style: none;
}

.burger-menu {
    background-color: var(--paleta-a);
    color: var(--paleta-c);
    display: block;
    max-width: 2.1em;
    padding: .4em 0;
    border-radius: .45em;
    text-align: center;
    font-size: 1.4em;
    margin: auto;
    margin-top: 2rem;
}

@media (min-width: 361px) {

    .burger-menu {
        display: none;
    }

    .main-header-top-bar {
        justify-content: flex-end;
        margin: 1rem;
    }

    .logo {
        top: -1rem;
        left: 6rem;
    }

    .adress-bar {
        margin-right: 19%;
    }



    .icon-cart {
        margin-left: 2rem;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    .navbar a {
        margin: 1em 2em;
    }
}

@media (min-width: 769px) {
    .header-contenedor {
        max-width: 70vw;

    }


    .adress-bar {
        margin-right: 18%;
    }


    .navbar a {
        font-size: 1.4rem;
    }
}