<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
    <body>
    <%- include("../partials/header")%>
    <div class="contenedor-productdetail ">
        <section class="producto-foto">  
            <section class="foto-nombre">
                <div class="foto-producto">

                </div>
                <h4>Nombre de Producto</h4>
            </section>
            <div class="producto-disponibilidad">
                <section class="cant-disponibilidad">
                    <h3>Nombre del Producto</h3>
                    <div class="codigo-disponibilidad">
                        <p>Disponibilidad: Stock</p> <p>SKU: ------</p>
                    </div>
                    <h2>9999.9</h2>
                </section>
                <div class="btn">
                    <p>
                        <button>-</button>
                        <label for="">0</label>
                        <button>+</button>
                    </p>
                    <button>AGREGAR</button>
                </div>
            </div>
        </section>
        <section class="descripcion-producto">
            <h2>DETALLE DEL PRODUCTO</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus qui esse excepturi odit aspernatur aliquam deserunt iusto harum est fugiat minima magni hic amet soluta, laudantium mollitia illo incidunt nesciunt?</p>
        </section>
    </div>
</body>

<%- include("../partials/footer")%>
</html>