<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
    
    <body>
    <%- include("../partials/header")%>
    

    <main class="main">
      
         <section class="productos-seleccionados">
            <ul class="titulos">
                <li>Articulo</li>
                <li>Precio</li>
                <li>Cantidad</li>
                <li>Subtotal</li>
            </ul>
            <ol class="descripcion">
                <li>Bolson arena fina</li>
                <li>Ladrillo común</li>
                <li>Hierro redondo 8 Mm x 12 M</li>
            </ol>
         </section>
        <section class="totales">
                
         </section>
 

    </main>

        <%- include("../partials/footer")%>
</body>
</html>